extends ./layout/index.pug

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque eleifend odio quis varius. Vivamus dapibus bibendum malesuada. Aliquam vitae viverra nulla. Praesent et mi tortor. Suspendisse potenti. In lacus sem, tristique vel nibh non, vulputate suscipit sem. Etiam lobortis neque sed felis feugiat varius. Aliquam mollis, tortor in molestie consectetur, justo augue dignissim enim, vitae malesuada massa enim sed enim. Vestibulum eu eleifend nulla. 

                p dictum dui nec luctus mattis. Nam vel scelerisque sapien. Sed ac massa vel odio vulputate lobortis sed eu lorem. In hac habitasse platea dictumst. Donec rutrum justo vitae turpis ultrices, et ultrices neque faucibus. Sed non elementum risus. In rhoncus, velit tristique hendrerit placerat, massa felis mattis orci, quis laoreet dolor diam sit amet lectus. Nulla rutrum commodo vulputate. Aenean faucibus lectus ut diam commodo, nec lobortis lectus mattis. 

                p Sed at dignissim arcu, id pharetra libero. Nunc tortor nisi, condimentum vitae ligula sit amet, vulputate malesuada metus. Morbi mattis suscipit vehicula. Morbi tempor augue leo, eget rhoncus dui sollicitudin at. Sed sit amet malesuada sem. Aliquam auctor, turpis et vestibulum pellentesque, tellus nulla malesuada eros, eget volutpat lacus nisl eget odio. Fusce porttitor porttitor augue, sodales sodales mauris lobortis eu. Sed porta blandit felis ac vulputate.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Sed at dignissim arcu, id pharetra libero. Nunc tortor nisi, condimentum vitae ligula sit amet, vulputate malesuada metus.
            
                .col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Sed at dignissim arcu, id pharetra libero. Nunc tortor nisi, condimentum vitae ligula sit amet, vulputate malesuada metus.
                
                .col-md-4 
                    img(src="/img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Sed at dignissim arcu, id pharetra libero. Nunc tortor nisi, condimentum vitae ligula sit amet, vulputate malesuada metus.
                